#Problem Sets

1001

In [ ]:
print("Hello World!")

Hello World!

**1002**

In [ ]:
num1=int(input())
num2=int(input())
x=num1+num2
print (f"X = {x}")

1
2
X = 3

1003

In [ ]:
r=float(input())
n=3.14159
a=round(n*(r**2), 4)
print(f"A={a}")

2.00
A=12.5664

1003

In [ ]:
n1=int(input())
n2=int(input())
sum=n1+n2
print(f"SOMA = {sum}")

1
3
SOMA = 4

1004

In [ ]:
n1=int(input())
n2=int(input())
prod=n1*n2
print(f"PROD = {prod}")

1005

In [ ]:
n1=float(input())
n2=float(input())
avg=round((((n1*3.5)+(n2*7.5))/(3.5+7.5)),5)

print(f"MEDIA = {avg}")

5.0
7.1
MEDIA = 6.43182

1006

In [ ]:
n1=float(input())
n2=float(input())
n3=float(input())
avg=(((n1*2)+(n2*3)+(n3*5))/10)
print(f"MEDIA = {avg: .1f}")

5.0
6.0
7.0
MEDIA = 6.3

1007

In [ ]:
n1=int(input())
n2=int(input())
n3=int(input())
n4=int(input())
difference=(n1*n2)-(n3*n4)
print(f"DIFERENCA = {difference}")

1008

In [ ]:
number=int(input())
worked_hours=int(input())
hourly_payment=float(input())
salary=worked_hours*hourly_payment
print(f'NUMBER = {number}')
print(f'SALARY = U$ {salary:.2f}')

25
100
5.50
NUMBER = 25
SALARY = U$ 550.00

1009

In [ ]:
emp_firstname=input()
salary=float(input())
total_sale_sold=float(input())
total=(salary+(total_sale_sold*15/100))
print(f'TOTAL = R$ {total:.2f}')

1010

In [9]:
code1,unit1,value1=input().split(" ")
code2,unit2,value2=input().split(" ")
total=(int(unit1)*float(value1))+(int(unit2)*float(value2))
print(f'VALOR A PAGAR: R$ {total:.2f}')

1 2 3
2 4 6
VALOR A PAGAR: R$ 30.00

1011

In [2]:
r=float(input())
pi=3.14159
sphere_volume=(4/3.0)*pi*(r*r*r)
print(f'VOLUME = {sphere_volume:.3f}')

3
VOLUME = 113.097

1012

In [8]:
x=input().split(" ")
a=x[0]
b=x[1]
c=x[2]
pi=3.14159
triangle=(1/2)*float(a)*float(c)
circle=pi*float(c)*float(c)
trapezium=((float(a)+float(b))/2)*float(c)
square=float(b)*float(b)
rectangle=float(a)*float(b)

print(f'TRIANGULO: {triangle:.3f}')
print(f'CIRCULO: {circle:.3f}')
print(f'TRAPEZIO: {trapezium:.3f}')
print(f'QUADRADO: {square:.3f}')
print(f'RECTANGULO: {rectangle:.3f}')

3.0 4.0 5.2
TRIANGULO: 7.800
CIRCULO: 84.949
TRAPEZIO: 18.200
QUADRADO: 16.000
RECTANGULO: 12.000

1013

In [ ]:
import math
a,b,c=input().split(" ")
maiorab=(int(a)+int(b)+abs(int(a)-int(b)))/2
greatest=(int(maiorab)+int(c)+abs(int(maiorab)-int(c)))/2
print(f'{greatest} eh o maior')

1014

In [ ]:
total_distance=int(input())
fuel_spent=float(input())

avg_consumption=total_distance/fuel_spent

print(f'{avg_consumption:.3f} km/l')

1015

In [ ]:
import math

x1,y1=input().split(" ")
x2,y2=input().split(" ")
distance=math.sqrt(((float(x2)-float(x1))**2)+((float(y2)-float(y1))**2))
print(f"{distance:.4f}")

1016

In [ ]:
distance=int(input())
minutes=(distance*2)
print(f'{minutes} minutos')

1017

In [ ]:
spent_time=int(input())
avg_speed=int(input())
total_distance=spent_time*avg_speed
fuel_consumption=total_distance/12
print(f'{fuel_consumption:.3f}')

1018

In [ ]:
n=int(input())
hundred=int(n/100)
fifty=int((n-hundred*100)/50)
twenty=int((n-((hundred*100)+(fifty*50)))/20)
ten=int((n-((hundred*100)+(fifty*50)+(twenty*20)))/10)
five=int(((n-((hundred*100)+(fifty*50)+(twenty*20)+(ten*10))))/5)
two=int(((n-((hundred*100)+(fifty*50)+(twenty*20)+(ten*10)+(five*5))))/2)
one=int(((n-((hundred*100)+(fifty*50)+(twenty*20)+(ten*10)+(five*5)+(two*2))))/1)
print(n)
print(f'{hundred} nota(s) de R$ 100,00')
print(f'{fifty} nota(s) de R$ 50,00')
print(f'{twenty} nota(s) de R$ 20,00')
print(f'{ten} nota(s) de R$ 10,00')
print(f'{five} nota(s) de R$ 5,00')
print(f'{two} nota(s) de R$ 2,00')
print(f'{one} nota(s) de R$ 1,00')

1019

In [24]:
n=int(input())
minutes=int(n/60)
hours=int(minutes/60)
actual_minutes=int(minutes-(hours*60))
seconds=n-(minutes*60)
print(f'{hours}:{actual_minutes}:{seconds}')

556
0:9:16

1020

In [25]:
n=int(input())
year=int(n/365)
month=int((n-(year*365))/30)
days=n-((year*365)+(month*30))
print(f'{year} ano(s)')
print(f'{month} mes(es)')
print(f'{days} dia(s)')

400
1 ano(s)
1 mes(es)
5 dia(s)

1021

In [ ]:
n=float(input())

hundred=int(n/100)
fifty=int((n-hundred*100)/50)
twenty=int((n-((hundred*100)+(fifty*50)))/20)
ten=int((n-((hundred*100)+(fifty*50)+(twenty*20)))/10)
five=int(((n-((hundred*100)+(fifty*50)+(twenty*20)+(ten*10))))/5)
two=int(((n-((hundred*100)+(fifty*50)+(twenty*20)+(ten*10)+(five*5))))/2)
one=int(((n-((hundred*100)+(fifty*50)+(twenty*20)+(ten*10)+(five*5)+(two*2))))/1)
fifty_paisa=int(((n-((hundred*100)+(fifty*50)+(twenty*20)+(ten*10)+(five*5)+(two*2)+(one*1))))/0.50)
twentyfive_paisa=int(((n-((hundred*100)+(fifty*50)+(twenty*20)+(ten*10)+(five*5)+(two*2)+(one*1)+(fifty_paisa*0.50))))/0.25)
ten_paisa=int(((n-((hundred*100)+(fifty*50)+(twenty*20)+(ten*10)+(five*5)+(two*2)+(one*1)+(fifty_paisa*0.50)+(twentyfive_paisa*0.25))))/0.10)
five_paisa=int(((n-((hundred*100)+(fifty*50)+(twenty*20)+(ten*10)+(five*5)+(two*2)+(one*1)+(fifty_paisa*0.50)+(twentyfive_paisa*0.25)+(ten_paisa*0.10))))/0.05)
one_paisa=int(((n-((hundred*100)+(fifty*50)+(twenty*20)+(ten*10)+(five*5)+(two*2)+(one*1)+(fifty_paisa*0.50)+(twentyfive_paisa*0.25)+(ten_paisa*0.10)+(five_paisa*0.05))))/0.01)

print("NOTAS:")
print(f'{hundred} nota(s) de R$ 100.00')
print(f'{fifty} nota(s) de R$ 50.00')
print(f'{twenty} nota(s) de R$ 20.00')
print(f'{ten} nota(s) de R$ 10.00')
print(f'{five} nota(s) de R$ 5.00')
print(f'{two} nota(s) de R$ 2.00')

print("MOEDAS:")
print(f'{one} moeda(s) de R$ 1.00')
print(f'{fifty_paisa} moeda(s) de R$ 0.50')
print(f'{twentyfive_paisa} moeda(s) de R$ 0.25')
print(f'{ten_paisa} moeda(s) de R$ 0.10')
print(f'{five_paisa} moeda(s) de R$ 0.05')
print(f'{one_paisa} moeda(s) de R$ 0.01')

1035

In [37]:
a,b,c,d=input().split(" ")
a=int(a)
b=int(b)
c=int(c)
d=int(d)

if b>c and d>a:
    if c+d>a+b:
        if c>0 and d>0:
            if a%2==0:
                print("Valores aceitos")
else:
    print("Valores nao aceitos")

2 3 2 6
Valores aceitos

1036

In [ ]:
import math
a,b,c=input().split(" ")
a=float(a)
b=float(b)
c=float(c)
d=(b**2)-(4*a*c)

if a==0 or (b**2)<4*a*c:
    print("Impossivel calcular")
else:
    x1 =((-b+(math.sqrt(d)))/(2*a))
    x2 =((-b-(math.sqrt(d)))/(2*a))
    print(f'R1 = {x1:.5f}')
    print(f'R2 = {x2:.5f}')

1037

In [ ]:
n=float(input())

if n>=0 and n<=25:
    print("Intervalo [0,25]")
elif n>25 and n<=50:
    print("Intervalo (25,50]")
elif n>50 and n<=75:
    print("Intervalo (50,75]")
elif n>75 and n<=100:
    print("Intervalo (75,100]")
else:
    print("Fora de intervalo")

1038

In [ ]:
x=int(input("product code: "))
y=int(input("product quantity: "))

product_price={1:4.00,2:4.50,3:5.00,4:2.00,5:1.50}

for k,v in product_price.items():
  if k==x:
    output=product_price[k]*y
print(output)

product code: 1
product quantity: 3
12.0

1040

In [ ]:
n1,n2,n3,n4=input().split(" ")
n1=float(n1)
n2=float(n2)
n3=float(n3)
n4=float(n4)

media=((n1*2)+(n2*3)+(n3*4)+(n4*1))/10
print(f'Media: {media:.1f}')

if media>=7.0:
    print("Aluno aprovado.")
elif media<5.0:
    print("Aluno reprovado.")
elif media>=5.0 and media<7.0:
    print("Aluno em exame.")
    score=float(input())
    print(f'Nota do exame: {score:.1f}')
    n=(media+score)/2

    if n>=5.0:
        print("Aluno aprovado.")
        print(f'Media final: {n:.1f}')
    else:
        print("Aluno reprovado.")
        print(f'Media final: {n:.1f}')

1041

In [ ]:
x,y=input().split(" ")
x=float(x)
y=float(y)

if x==0.0 and y==0.0:
    print("Origem")
elif y==0.0:
    print("Eixo X")
elif x==0.0:
    print("Eixo Y")
elif x>0.0 and y>0.0:
    print("Q1")
elif x<0.0 and y>0.0:
    print("Q2")
elif x>0.0 and y<0.0:
    print("Q4")
elif x<0.0 and y<0.0:
    print("Q3")

1042

In [58]:
list1=input().split()
a=int(list1[0])
b=int(list1[1])
c=int(list1[2])
list2=[a,b,c]
list2.sort()
print(f'{list2[0]}\n{list2[1]}\n{list2[2]}\n')
print(f'{a}\n{b}\n{c}')

7 21 -14
-14
7
21

7
21
-14

1043

In [ ]:
a,b,c=input().split(" ")
a=float(a)
b=float(b)
c=float(c)

if (a+b)>c and (a+c)>b and (b+c)>a:
    perimeter=(a+b+c)
    print(f'Perimetro = {perimeter:.1f}')
else:
    area=((a+b)/2)*c
    print(f'Area = {area:.1f}')

1044

In [ ]:
a,b=input().split(" ")
a=int(a)
b=int(b)
if a%b==0 or b%a==0:
    print("Sao Multiplos")
else:
    print("Nao sao Multiplos")

1046

In [62]:
x,y=input().split(" ")
x=int(x)
y=int(y)

if x<y:
    duration=(y-x)
elif x>y:
    duration=(24-x)+y
elif x==y:
    duration=24
print(f'O JOGO DUROU {duration} HORA(S)')

0 0
O JOGO DUROU 24 HORA(S)

1047

In [70]:
a,b,c,d=input().split(" ")
a=int(a)
b=int(b)
c=int(c)
d=int(d)

if a<c and b<d:
    hour=(c-a)
    minute=(d-b)
    print(f'O JOGO DUROU {hour} HORA(S) E {minute} MINUTO(S)')
elif a<c and b>d:
    hour=(c-a)-1
    minute=(60-b)+d
    print(f'O JOGO DUROU {hour} HORA(S) E {minute} MINUTO(S)')
elif a>c and b<d:
    hour=(24-a)+c
    minute=(d-b)
    print(f'O JOGO DUROU {hour} HORA(S) E {minute} MINUTO(S)')
elif a>c and b>d:
    hour=((24-a)+c)
    minute=(60-b)+d
    print(f'O JOGO DUROU {hour} HORA(S) E {minute} MINUTO(S)')
elif a==c and b==d:
    hour=24
    minute=0
    print(f'O JOGO DUROU {hour} HORA(S) E {minute} MINUTO(S)')
elif a==c:
    hour=

2 20 2 30

1048

In [72]:
salary=float(input())

if 0<=salary<=400.00:
    new_salary=salary+((salary*15)/100)
    money_earned=(salary*15)/100
    print(f'Novo salario: {new_salary:.2f}')
    print(f'Reajuste ganho: {money_earned:.2f}')
    print('Em percentual: 15 %')
elif 400.01<=salary<=800.00:
    new_salary=salary+((salary*12)/100)
    money_earned=(salary*12)/100
    print(f'Novo salario: {new_salary:.2f}')
    print(f'Reajuste ganho: {money_earned:.2f}')
    print('Em percentual: 12 %')
elif 800.01<=salary<=1200.00:
    new_salary=salary+((salary*10)/100)
    money_earned=(salary*10)/100
    print(f'Novo salario: {new_salary:.2f}')
    print(f'Reajuste ganho: {money_earned:.2f}')
    print('Em percentual: 10 %')
elif 1200.01<=salary<=2000.00:    
    new_salary=salary+((salary*7)/100)
    money_earned=(salary*7)/100
    print(f'Novo salario: {new_salary:.2f}')
    print(f'Reajuste ganho: {money_earned:.2f}')
    print('Em percentual: 7 %')
else:
    new_salary=salary+((salary*4)/100)
    money_earned=(salary*4)/100
    print(f'Novo salario: {new_salary:.2f}')
    print(f'Reajuste ganho: {money_earned:.2f}')
    print('Em percentual: 4 %')

400.00
Novo salario: 460.00
Reajuste ganho: 60.00
Em percentual: 15 %

1049

In [ ]:
a=input().lower()
b=input().lower()
c=input().lower()
if a=="vertebrado":
    if b=="ave":
        if c=="carnivoro":
            print('aguia')
        elif c=="onivoro":
            print('pomba')
    elif b=="mamifero":
        if c=="onivoro":
            print('homem')
        elif c=="herbivoro":
            print('vaca')
elif a=="invertebrado":
    if b=="inseto":
        if c=="hematofago":
            print('pulga')
        elif c=="herbivoro":
            print('lagarta')
    elif b=="anelideo":
        if c=="hematofago":
            print('sanguessuga')
        elif c=="onivoro":
            print('minhoca')

1050

In [75]:
ddd=int(input())

if ddd==61:
    print("Brasilia")
elif ddd==71:
    print("Salvador")
elif ddd==11:
    print("Sao Paulo")
elif ddd==21:
    print("Rio de Janeiro")
elif ddd==32:
    print("Juiz de Fora")
elif ddd==19:
    print("Campinas")
elif ddd==27:
    print("Vitoria")
elif ddd==31:
    print("Belo Horizonte")
else:
    print("DDD nao cadastrado")

31
Belo Horizonte